[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"
python-language-server = "*"

[packages]
appdirs = "*"
attrs = "*"
bcrypt = "*"
blinker = "*"
cffi = "*"
click = "*"
flask = "*"
flask-bcrypt = "*"
flask-limiter = "*"
flask-login = "*"
flask-mail = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
gunicorn = "*"
itsdangerous = "*"
jinja2 = "*"
limits = "*"
markupsafe = "*"
pathspec = "*"
pycparser = "*"
pyperclip = "*"
regex = "*"
six = "*"
sqlalchemy = "*"
toml = "*"
typed-ast = "*"
werkzeug = "*"
wtforms = "*"

[requires]
python_version = "3.7"
