{% extends "base.html" %}

{% block css %}
  <link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}" />
{% endblock css %}

{% block content %}
<div class="msg">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert">
          <p>{{message}}</p>
        </div>
      {% endfor %}
    {% endif %}
  {% endwith%}
</div>

<div class="login">
  <form method="POST" action="" class="form-content">
    {{ form.hidden_tag() }}

    {% if form.username.errors %}
    {{form.username()}}
      <div>
        {% for error in form.username.errors %}
          <span>{{error}}</span>
        {% endfor %}
      </div>
    {% else %}
      {{form.username(placeholder="Username")}}
    {% endif %}

    {% if form.password.errors %}
    {{form.password()}}
      <div>
        {% for error in form.password.errors %}
          <span>{{error}}</span>
        {% endfor %}
      </div>
    {% else %}
      {{form.password(placeholder="Password")}}
    {% endif%}

    {{form.submit(placeholder="Login")}}
    <a href="{{url_for('public.help')}}">Forgotten Password ?</a>
  </form>
</div>
{% endblock content %}