{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static',filename='css/contact.css')}}">
{% endblock css %}

{% block content %}
<div class="contact-form">
    <form method="POST" action="" class="form-content">
        <input type="text" name="fullname" placeholder="Full Name">
        <input type="text" name="subject" placeholder="Subject">
        <textarea name="message" id="" placeholder="Type your message here..."></textarea>
        <input type="submit" value="Send" >
    </form>
</div>
{% endblock content %}