@import "variables";

.form-content {
  display: flex;
  flex-flow: column nowrap;
  input, textarea {
    width: 100%;
    padding: 0.2rem;
    margin-bottom: 0.2rem;
    &[type="submit"] {
      border: none;
      color: $txt-wh;
      background-color: $primary;
      font-size: 1.6rem;
      font-weight: 600;
      text-decoration: none;
      cursor: pointer;
      &:hover {
        color: $txt-bl;
        background-color: $primary-light;
      }
    }
  }
}
